<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188282222982-23mvbk7sn7sod7hr9mme00bjitten1af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188282222982-23mvbk7sn7sod7hr9mme00bjitten1af</string>
	<key>API_KEY</key>
	<string>AIzaSyD34xrAUgqmXgBjcZ9MiGNORczZbirh49Q</string>
	<key>GCM_SENDER_ID</key>
	<string>188282222982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorMfc</string>
	<key>PROJECT_ID</key>
	<string>doctor-mfc</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-mfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188282222982:ios:f2a6aa63679074972f5407</string>
</dict>
</plist>